<mat-toolbar>Appointments</mat-toolbar>

<div class="container">
  <button mat-raised-button color="primary" style="margin:5px;" (click)="addAppt()">Add Appointment</button>
  <div>
    <ngx-datatable class="material" style="width:80%"
                   [rows]="rows"
                   [loadingIndicator]="loadingIndicator"
                   [columnMode]="ColumnMode.force"
                   headerHeight="50"
                   footerHeight="50"
                   rowHeight="auto"
                   [reorderable]="reorderable">
    </ngx-datatable>
  </div>
</div>
