<mat-toolbar>Appointments</mat-toolbar>

<div class="custom-container">
  <button mat-raised-button color="primary" style="margin:5px;" (click)="addAppt()">Add Appointment</button>
  <div>
    <ngx-datatable class="material" style="width:80%"
                   [rows]="rows"
                   [loadingIndicator]="loadingIndicator"
                   [columnMode]="ColumnMode.force"
                   headerHeight="50"
                   footerHeight="50"
                   rowHeight="auto"
                   [reorderable]="reorderable"
                   [sorts]="[{ prop: 'dateTime', dir: 'desc' }]">

      <ngx-datatable-column name="Patient Name" prop="fullName"></ngx-datatable-column>
      <ngx-datatable-column name="Date" prop="dateTime">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.dateTime | date:'medium'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Appointment Type" prop="apptType"></ngx-datatable-column>
      <ngx-datatable-column name="Complete" prop="complete">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button *ngIf="row.complete !== 'Y'" mat-stroked-button color="primary" (click)="markComplete(row)">Mark Complete</button>
          <button *ngIf="row.complete === 'Y'"  mat-stroked-button color="accent" [disabled]="true">Complete</button>
        </ng-template>
      </ngx-datatable-column>


    </ngx-datatable>
  </div>
</div>
