
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item> Clinic Application </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/patients']">Patients</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/appointments']">Appointments</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/patients']">Settings</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

