<mat-toolbar *ngIf="patient" color="primary">Patient Information</mat-toolbar>

<div class="custom-container" *ngIf="patient">

      <mat-card>
        <mat-card-header>
          <mat-card-title><h1 class="mat-h1">{{patient.firstName}} {{patient.lastName}}</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content style="margin-left:15px;">
          <div class="row">
            <div class="col-md-6">
              <h2 class="mat-h2">Personal Details:</h2>
              <h3 class="mat-h4">Id: {{patient.id}}</h3>
              <h3 class="mat-h4">Address: {{patient.address}}</h3>
              <h3 class="mat-h4">City: {{patient.city}}</h3>
              <h3 class="mat-h4">State: {{patient.state}}</h3>
              <h3 class="mat-h4">Zip: {{patient.zip}}</h3>
              <h3 class="mat-h4">Email {{patient.email}}</h3>
              <h3 class="mat-h4">Phone: {{patient.phone}}</h3>
            </div>
            <div class="col-md-6">
              <h2 class="mat-h2">Notes:</h2>
              <mat-form-field style="width:60%; height:60%">
                <textarea matInput [(ngModel)]="patient.notes" style="min-height:100px" placeholder="Leave a comment"></textarea>
              </mat-form-field>
              <div>
                <button mat-raised-button color="accent" (click)="save()">Save Note</button>
              </div>
            </div>
<!--            <div class="col-md-6">-->
<!--              <h2 class="mat-h2">Diagnosis:</h2>-->
<!--            </div>-->
          </div>
        </mat-card-content>
      </mat-card>

</div>
