<mat-toolbar>Patients</mat-toolbar>

<div class="container">
<button mat-raised-button color="primary" style="margin:5px;" (click)="addPatient()">Add Patient</button>
<div>
  <ngx-datatable class="material"
                 [rows]="rows"
                 [loadingIndicator]="loadingIndicator"
                 [columns]="columns"
                 [columnMode]="ColumnMode.force"
                 headerHeight="50"
                 footerHeight="50"
                 rowHeight="auto"
                 [reorderable]="reorderable">
  </ngx-datatable>
</div>
</div>
